<section class="section">
    <div class="container">
        <div class="section__header text-center">
            <h2 class="section__title">So we created the perfect gift for you</h2>
        </div>
        <div class="section__content">

            
            <div class="card">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">FREE WILL</h3>
                        <p class="card__info">With this card, Michel can choose what he wants. Like a big. Rather Chino or Shirt Michel? Only he knows. What we do know is that it will take you 2 minutes to make her happy.</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
            
            
            <div class="card card--reverse">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">1 - TAKE IT</h3>
                        <p class="card__info">There, it's 30s. You are already on the page, all you have to do is choose the amount of the card. 30, 50, 100, 150, 200, 250, 300 €?</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
            
            
            <div class="card">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">2 - NAME IT</h3>
                        <p class="card__info">You receive an email with a link allowing you to see the card and personalize it with your name and that of the lucky little one.</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
            
            
            <div class="card card--reverse">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">3 - PRINT IT</h3>
                        <p class="card__info">30s. If you don't need to change the magenta cartridge, of course.</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">4 - PUT IT IN AN ENVELOPE</h3>
                        <p class="card__info">You can ask your mother. They always have envelopes in a small drawer.</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
            
            
            <div class="card card--reverse">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">5 - GIVE IT TO HIM</h3>
                        <p class="card__info">Or put it in the box next to the cake, or put it under the tree, or even spin it to your uncle Jean-Luc disguised as Santa Claus so that he can do it.</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
           
            <div class="card">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">6 - ADMIRE YOUR WORK</h3>
                        <p class="card__info">Le Michel very happy by taking good sapes on the site. You can be proud of yourself.</p>
                    </div>
                </div>   
                <div class="card__right">
                    <div class="card__img">
                        {{ 'women.png' | asset_url | img_tag }}
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>